/* =============================================================================

    ALERT CSS

    Authored by:
        - Eric Lortie

============================================================================= */

.alert {
  h4 {
    background: var(--uw-red);
    border-radius: 5px;
    margin: .4rem;
    color: #222;
    padding: .3rem;
    font-weight: normal;
    text-transform: uppercase;
    font-size: .8rem;
    a {
      color: #222;
    }
  }
}